@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* GENERAL */
header{
    background: linear-gradient(rgba(226, 239, 247, 100), rgba(195, 231, 232, 91));
    text-align: center;
    justify-self: space-between;
    /*box-shadow: rgba(171, 205, 245, 100) 10px 10px 20px inset;
    text-shadow: rgba(171, 205, 245, 100) 5px 5px;*/
}

footer{
    background: linear-gradient(rgba(195, 231, 232, 91), rgba(226, 239, 247, 100));
    text-align: center;
    /*box-shadow: rgba(171, 205, 245, 100) 10px 10px 20px inset;
    text-shadow: rgba(171, 205, 245, 100) 5px 5px;*/
}

/* Fuente */
body{
    font-family: 'Arima Madurai', cursive;
}

main{
    padding-top: 80px;
    text-align: start;
}

.main_inicio{
    padding-top: 0;
    height: 100vh;
}
